.DS_Store
.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
tmp/
.derivedData/
.vscode/launch.json
docs/
.sourcekit-lsp/
